In [5]:
print(" first line")

 first line

In [6]:
name = 'alice'
age =  18
GPA = 3.85
plays_volllyball = True

print(name,age,plays_volllyball)

alice 18 True

In [7]:
GPA = GPA+0.07
print(name,age,plays_volllyball,GPA)

alice 18 True 3.92

try to print info in a more meaningful manner

In [8]:
print (f"the student name is {name},and they are {age} years old. Their GPA is {GPA}.")

the student name is alice,and they are 18 years old. Their GPA is 3.92.

python list and other data structures

In [9]:
sports =['vollyball','basketball','football','cross country']
sports[1]

'basketball'

In [10]:
# sports.append("cricket")

print("1.",sports)
print("2.",sports[0:3])
print("3.",sports[:])
print("4.",sports[0::1])
print("5.",sports[-1])
print("6.",sports[::-1])
print("7.",sports[::1])

1. ['vollyball', 'basketball', 'football', 'cross country']
2. ['vollyball', 'basketball', 'football']
3. ['vollyball', 'basketball', 'football', 'cross country']
4. ['vollyball', 'basketball', 'football', 'cross country']
5. cross country
6. ['cross country', 'football', 'basketball', 'vollyball']
7. ['vollyball', 'basketball', 'football', 'cross country']

## calculating letter guide
- 2 or under D
- 3 or under C
- 3.8 or under B
- Above 3.8 A

In [ ]:
student_gpa = float(input("Enter your GPA"))
# student_gpa-=1
print(student_gpa)


if student_gpa >= 3.8:
    print("Grade A")
elif student_gpa >=3:
    print("Grade B")
elif student_gpa >= 2:
    print("Grade C")
else :
    print("Grade D")

** Arithmetic Operators **

In [ ]:
x = 15
y = 2

result = 0

# Arithmetic Operators"
print("Arithmetic Operators \n")

print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y)
print(x%y)
print(x**y,'\n')

# Comparison Operators
print("Comparison Operators \n")

print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y,'\n')

# Logical Operators
print("Logical Operators \n")

print(x and y)
print(x or  y)
print(not y,'\n')

#  Assignment Operators
print("Assignment Operators \n")

num=[2,4,5,6,7,8,15]

print(x in num)
print(y not in num ,'\n')

# Identity Operators
print("Identity Operators")

print(x is y)
print(x is not y ,'\n')

# Walrus Operator
print("Walrus Operator\n")

print(result:=x+y)

Arithmetic Operators

17
13
30
7.5
7
1
225

Comparison Operators

False
True
True
False
True
False

Logical Operators

2
15
False

Assignment Operators

True
False

Identity Operators
False
True

Walrus Operator

17

**Python Data Types**

In [ ]:

i =int(input("enter something"))
print(i)

2323

In [ ]:
%who

GPA	 age	 i	 name	 num	 plays_volllyball	 result	 sports	 sprots
student_gpa	 x	 y

Type Conversions

In [ ]:
# implicit type conversion - by itself

x = 10
print(type(x))

y=10.6
print(type(y))

z=x+y 
print(type(z)) # implicit conversion done by python

<class 'int'>
<class 'float'>
<class 'float'>

In [ ]:
# explicit conversion

s = '1010'
i = int(s,2) # convert string '1010' from base 2 (binary) to integer

print(i)
print(type(i))

# reverse conversion
p = 45
binary_form = bin(p)
print(binary_form)

10
<class 'int'>
0b101101

**Conditinal Statement**

In [ ]:
# if elif-else

age =26

if age > 18 :
    print("Adult")
elif age >17 :
    print("teenager")
else:
    print("kid")

Adult

In [ ]:
# if ( condition )

light = 'yellow'

if(light=='red'): 
    print('stop')
if(light=='yellow'):
    print('be ready to move')
if(light=='green'):
    print('go')
else :
    print('lights are not working')

be ready to move
lights are not working

In [ ]:
# nested conditional 

age = int(input("enter age"))

if (age>18):
    if(age>80):
        print('dont drive')
    else:
        print('drive')
else:
    print('dont drive')

dont drive

In [ ]:
# check if an even number is multiple of 4

num = int(input('enter a num'))

if(num%2==0):
    print('its an even number')
    if(num%4==0):
        print('yes its a multiple')
else:
    print('its an odd number')

its an odd number

List and its methods

In [ ]:
list1 = ['apple',2,6,True,'headphone',23.67,]
list2 = [12,32,53,43,22,88,65]

print("1.",list1)
print("2",len(list1))
print("3",list1.count('apple'))
print("4",list1[0])

sort_l1 = list1.sort # sort method not applicable for hetrogeneous list
print("5",sort_l1)

# sort_l2 = list2.sort() # this method sorts original list and returns none , so i cant store its value in another variable
list2.sort()
print("6",list2)

sort_l2 =sorted(list2)
print("7",sort_l2) # this is a class function which created a new sorted list 
print("8",sorted)

copy_l1 = list1.copy()
print("9",copy_l1)

list2.remove(12)
print(list2)

list2.insert(0,91)
print(list2)

list2.pop(0)
print(list2)

1. ['apple', 2, 6, True, 'headphone', 23.67]
2 6
3 1
4 apple
5 <built-in method sort of list object at 0x10811a500>
6 [12, 22, 32, 43, 53, 65, 88]
7 [12, 22, 32, 43, 53, 65, 88]
8 <built-in function sorted>
9 ['apple', 2, 6, True, 'headphone', 23.67]
[22, 32, 43, 53, 65, 88]
[91, 22, 32, 43, 53, 65, 88]
[22, 32, 43, 53, 65, 88]

In [ ]:
list1.reverse()
print(list1)

empty_list =[]
empty_list2=list()
print(empty_list)
print(empty_list2)

[23.67, 'headphone', True, 6, 2, 'apple']
[]
[]

** Tuples **

In [ ]:
# tuple - immuatble

tup = (32,43,54,44,12)
tup1=() # empty tuple
tup2 = (23,) # tuple with single element

print(tup)
print(tup1)
print(tup2)
print(type(tup))

print(tup[0])
print(tup[0:])
print(tup[::-1])

print(tup.index(43)) # index of element =43  which is at 2nd place
print(tup.count(43)) # occurance of the element

(32, 43, 54, 44, 12)
()
(23,)
<class 'tuple'>
32
(32, 43, 54, 44, 12)
(12, 44, 54, 43, 32)
1
1

In [ ]:
# Dictionary (key, value)

dict = {'name':'Mark',
        'Age':24,
        'job':'Clerk'}

print(dict)
print(dict['Age']) # access via key 'age'

dict['Age']=27 # updating key 'age to 27
print(dict)

dict2 ={'name':'Harvey',
        'name':'Pete'} # last key value is retained ,overwriting previous keys
print(dict2)

# nested dictionary

dict_nested = {'name':'Kent',
               'age':25,
                'marks':{
                    'eng':85,
                    'maths':76,
                    'science':95
                } }

print(dict_nested)
print(dict_nested['marks']['maths'])

print(dict.keys())
print(dict.values())
print(dict_nested.keys())

print(dict.items())

print(dict.get('sdfs')) # method to fetch a key value pair using key 
dict.update({'Age':63}) # updating age to 63 for dict
dict

dict.pop('Age') # delete the Age key value pair
dict

dict.clear
print(dict)

{'name': 'Mark', 'Age': 24, 'job': 'Clerk'}
24
{'name': 'Mark', 'Age': 27, 'job': 'Clerk'}
{'name': 'Pete'}
{'name': 'Kent', 'age': 25, 'marks': {'eng': 85, 'maths': 76, 'science': 95}}
76
dict_keys(['name', 'Age', 'job'])
dict_values(['Mark', 27, 'Clerk'])
dict_keys(['name', 'age', 'marks'])
dict_items([('name', 'Mark'), ('Age', 27), ('job', 'Clerk')])
None
{'name': 'Mark', 'job': 'Clerk'}

In [ ]:
# SET (Unique and immutable)

num = {1,2,3,4,6,8,15,43,65}

num2 = {1,2,2,2}
num3 = {}
num4 = {1,'apple',(1,2,3,4)}

print(num)
print(num2)
print(num3)
print(num4)
print(type(num3))

# methods

num.add(9)
print(num)

num.remove(15)
print("remove 15 >",num)

num.clear # clear method  calls with no output
print("clear >",num)

num.pop()
print("pop > ",num)

union_set = num.union(num2)
intersection_set = num.intersection(num2)
print(union_set)
print(intersection_set)

{65, 1, 2, 3, 4, 6, 8, 43, 15}
{1, 2}
{}
{(1, 2, 3, 4), 1, 'apple'}
<class 'dict'>
{65, 1, 2, 3, 4, 6, 8, 9, 43, 15}
remove 15 > {65, 1, 2, 3, 4, 6, 8, 9, 43}
clear > {65, 1, 2, 3, 4, 6, 8, 9, 43}
pop >  {1, 2, 3, 4, 6, 8, 9, 43}
{1, 2, 3, 4, 6, 8, 9, 43}
{1, 2}

** File Handling **

In [2]:
import os
print(os.getcwd())
os.chdir('/Users/abhisheksaini/Documents/Python/Practice:Revision/Fundamentals')
print(os.getcwd())

/Users/abhisheksaini/Documents/Python/Practice:Revision/Fundamentals
/Users/abhisheksaini/Documents/Python/Practice:Revision/Fundamentals

In [ ]:
print(os.getcwd())
os.listdir()

/Users/abhisheksaini/Documents/Python/Practice:Revision/Fundamentals

['.DS_Store',
 'a.txt',
 '.venv',
 'py1.py',
 'JN_practice1_fundamentals.ipynb',
 '.vscode']

In [ ]:
# os.mkdir('/Users/abhisheksaini/Documents/Python/Practice:Revision/Fundamentals/new_folder')
# os.rmdir('/Users/abhisheksaini/Documents/Python/Practice:Revision/Fundamentals/new_folder')
print(os.listdir())

directory = "Demo1" # created a folder demo1 without assigning a path
parent_dir = "/Users/abhisheksaini/Documents/Python/Practice:Revision/Fundamentals/" # created another variable with path
path = os.path.join(parent_dir,directory) #joined path  and saved in path 
print(path)

#os.mkdir(path)
file = 'text.txt'
os.path.join(path,file)
# os.rmdir(path)
file_path = os.path.join(path, file)

with open(file_path, 'w') as f:
    f.write("")  # Creates an empty file

['.DS_Store', 'a.txt', '.venv', 'py1.py', 'JN_practice1_fundamentals.ipynb', '.vscode', 'Demo1']
/Users/abhisheksaini/Documents/Python/Practice:Revision/Fundamentals/Demo1

In [ ]:
#pwd #'/Users/abhisheksaini/Documents/Python/Practice:Revision/Fundamentals'

myfile = open(file_path)
print(myfile)
print(myfile.read())

<_io.TextIOWrapper name='/Users/abhisheksaini/Documents/Python/Practice:Revision/Fundamentals/Demo1/text.txt' mode='r' encoding='UTF-8'>
Hi it's abhishek .
this is a test file created to check the file handling feature of python.

In [ ]:
#myfile.seek(0)
print(myfile.read()) # error occurs when reading the closed file
myfile.close()
print(myfile.read())

ValueError: I/O operation on closed file.

In [ ]:
myfile = open('./text.txt', 'w' )
myfile.write('This is a newly added line')

26

In [ ]:
#os.getcwd()
#os.chdir('/Users/abhisheksaini/Documents/Python/Practice:Revision/Fundamentals/Demo1')
# myfile = open('./text2.txt', 'w' ) # new file with name text2 is written if not present otherwise overwritten on present file of same name

# now we will open a already existing file named text.txt

#file_1 = open('./text.txt','w+')
file_1 = open('./text.txt','a+')
file_1.write("\n new line 123")
print(file_1.read())

In [ ]:
# Iterating through a text file 

with open('./text.txt','r') as text_file:
    for line in text_file:
        print(line, end= '')

new line 123new line 123
 new line 123
line 3
line 4
line 5

In [ ]:
# Exception handling

try:
    myfile = open('./text3.txt','r')
    content = myfile.read()
    print(content)
except:
    print('no such file')
finally:
    myfile.close

no such file

In [ ]:
!pip install Pillow

from PIL import Image

img = Image.open("./red_color.jpeg")  # 1. Open the image
img.show()                            # 2. Display the image

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: Pillow in /Users/abhisheksaini/Library/Python/3.9/lib/python/site-packages (11.3.0)

In [ ]:
# with open('numfile.txt','w+') as f:
#     f.write('1,4,7,8,13,17,20')

with open('numfile.txt','r') as f:
    data = f.read()
    list_num=[]
    i=0
    print(data.__len__())

    for nums in data:
        if nums !=',':
            list_num.append(nums)
 
print(list_num)

16
['1', '4', '7', '8', '1', '3', '1', '7', '2', '0']

In [103]:
# l1 =['1','3','6','8','15']
# l2 =[]
# l3=[]
# for i in l1:
#     print(i)
#     l3.append(i)
# print(l3)

# l2.append(l1[0])
# print(l2)

# a='1,2,3,4'
# b=[]
# b=a
# print(b)
# print(type(b))
# print(len(b))

l5=[]
for i in a:
    if i != ',':
        l5.append(i)        
print(l5)

['1', '2', '3', '4']

**OOPS Concepts Python**

In [ ]:
def greet():
    name = input("enter your name")
    print("hello there",name)

print(greet)

<function greet at 0x1078388b0>

In [ ]:
class car:
    def __init__(self):  # default constructor
        pass
    Industry_name = "Auto Mobile" # class attribute
    def __init__(self,modelname,CODE): # parametrized constructor
         self.modelname = modelname #object attribute
         self.CODE = CODE

c1 = car("Audi","AUS0101")

In [154]:
print(c1.modelname)
print(c1.CODE)
print(car.Industry_name)

Audi
AUS0101
Auto Mobile

In [ ]:
# Methods are the functions that belong to objects

# creating class
class student:
    def __init__(self,fullname): #init method is created automatically when an object is created 
        self.name = fullname

    def hello(self):  # Custom method 
        print("hello",self.name)
        
   


# creating object
s1 = student("Aman")
print(s1.name)


s2 =student("raj")
print(s1.hello)

Aman
<bound method student.hello of <__main__.student object at 0x1078136a0>>

Error Handling

1. Syntax Error
2. Runtime Error
3. Logical Error

In [ ]:
# 1 Syntax Error

# Wrong or missing parenthesis 
# Wrong Spelling

# 2 Runtime Error

# Zero division error

# 3 Logical Error

# logically wrong expression

In [ ]:
# 1 Index Error - Wrong or missing index in list or similar 
# 2 Key Error - Wrong or missing key in dictionary
# 3 Module Not Found Error - Wrong Module name .eg panda instead of pandas
# 4 Type Error - Different data type operation issue eg. str+int
# 5 Name Error - wrong variable or object
# Zero Division Error -

Try Except

In [ ]:
try:
    x=1/0 # expresion with probable error
    print("this gets executed first") # to execute if no error
   
except:
    print('this gets executed if there is an error') # to execute if error

this gets executed if there is an error

In [ ]:
try:
    a = int(input('enter a number'))
    b = int(input('enter a number'))
    result = a/c
    print(result)

except ZeroDivisionError:
    print('the denominator cannot be zero')

except NameError:
    print('wrong name of variable')

except:
    print('the value entered is not valid')

else:
    print('trial succeded')
finally:
    print('its final message ')

wrong name of variable
its final message

Raising Exception

In [123]:
raise RuntimeError (' my error message')

RuntimeError:  my error message

Ok your exception is resolved